<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SPA com Angular</title>
</head>

<body>

  <div class='barra'>
    <mat-toolbar>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Notas</button>
        <button mat-menu-item>Presença</button>
      </mat-menu>
  
      <span> My first SPA</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </div>
 
  <div>
    
    <spa-alunos [valorInicial]="valor"></spa-alunos>
    <div class= 'botao'>
    <button (click)="mudarValor()" mat-stroked-button color="primary">Mudar Valor</button>
    <button (click)="reiniciarValor()" mat-stroked-button color="primary">Reiniciar Valor</button>
    <button (click)="exibirTabela()" mat-stroked-button color="primary">Exibir Tabela</button>
  </div>
  </div>

  <table *ngIf="exibeTabela">
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>E-mail</th>
      <th>Curso</th>
    </tr>
    <tr *ngFor="let aluno of listaAlunos">
      <td>{{aluno.nome}}</td>
      <td>{{aluno.idade}}</td>
      <td>{{aluno.email}}</td>
      <td>{{aluno.curso}}</td>
    </tr>
  </table>

 
    <spa-professores></spa-professores>

</body>

</html>